# files to ignore
models/
setup.py

large_files.txt

# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
.env/
.venv/

venv/
/venv/
# macOS specific files
.DS_Store

# VS Code settings
.vscode/

# Python packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.egg-info
.installed.cfg
*.egg

# Installers
*.lock
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
test-results.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data directories
data/raw/
data/processed/


secrets/

# Temporary files
*.tmp
*.swp

# Output files from scripts
*.out
*.log

# Directory listings
directory.txt

# WandB files 
wandb/
wandb/latest-run
wandb/debug-internal.log
wandb/debug.logvenv/
